# Homework 9:

Repeat the procedure we did in class to map the cities of the US using a map and the results of a PCoA, but using a different country of your choosing.

Tips:

These are the packages that you will need:

```
import geopy.distance
import pandas as pd
import plotly.express as px
import skbio
```

You will also need the `world_cities.csv` file to get the city names and coordinates for your country.

1. Choose your country.
2. Get only the cities of that country from the `world_cities.csv` file.
3. Sort the cities by population and select the 20 to 50 most populated cities.
4. Create a data frame with only these cities.
5. Calculate the distance between the cities using their latitude/longitude data from your data frame (geopy).
6. Create a data frame with a table of all the distances between each paur of cities. This needs to be in a distance matrix format, just like we imported from the `cities.csv` file for the US.
7. Perform the PCoA using skbio.
8. Plot the results of the PCoA using plotly express.
9. Plot the map of the country with the cities using the latitude/longitude from your table using plotly express.
10. That's it!

In [2]:
import geopy.distance
import pandas as pd
import plotly.express as px
import skbio

In [14]:
df = pd.read_csv("world_cities.csv",sep="\t")


cities = df.loc[df['country.etc'] == 'China']

cities

          name country.etc     pop    lat    long  capital
317     Acheng       China  144985  45.54  126.96        0
758       Aksu       China  362266  41.15   80.25        0
1024     Alihe       China   62059  50.60  123.71        0
1149     Altay       China  141575  47.84   88.13        0
1402      Anbu       China  167409  23.46  116.68        0
...        ...         ...     ...    ...     ...      ...
42911  Zhuzhou       China  711493  27.83  113.15        0
42924   Zigong       China  691930  29.40  104.78        0
42971   Ziyang       China   87649  30.14  104.64        0
43040  Zouxian       China  191654  35.41  116.94        0
43075    Zunyi       China  484980  27.70  106.92        0

[892 rows x 6 columns]

In [15]:
my_pcoa = skbio.stats.ordination.pcoa(cities.values)

# Show the new coordinates for our cities
print(my_pcoa.samples[['PC1', 'PC2']])

ValueError: could not convert string to float: 'Acheng'